$breakpoint-tablet: 1180px;
@media all and (max-width: 1180px) {

    .CART{
        margin-left: 30px !important;
    
        
        &__title{
            margin-top: 25% !important;
            margin-right: 20% !important;
        }
    }

.total{
    border-top: 2px solid #000000 !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    margin-top: 10% !important;
    padding-left: 55% !important;
    padding-top: 20px !important;
    padding-bottom: 50px !important;
    font-family: 'SuisseMono' !important;
}

.product{
    width: 100% !important;
    padding-left: 5% !important;
    padding-bottom: 1% !important;
    display:flex !important;
    align-items: center !important;

    &__image {
        width:100% !important;
        height: 200px !important;
        object-fit: contain !important;
    }

    &__name{
        width: 100% !important;
        margin-left: 5% !important;
        font-family: 'SuisseBook' !important;
        font-size: 1.2em !important;
    
    }

    &__price{
        width: 100% !important;
        margin-top: 10% !important;
        margin-left: 10% !important;
        font-family: 'SuisseMono' !important;
        font-size: 0.90em !important;
    }

    &__delete{ 
        padding: 15% !important;
        
    }
}

.checkout{
    width: 60% !important;
    margin-left: 30% !important;

    &__title{
        margin-top: 15% !important;
    }

    &__submit{
        margin: 20px 0 0 65px !important;
        &:hover{
            background-color: #e40000 !important;
        }
    }

    
}
}

@media all and (max-width:414px) {

    .CART{
        margin-left: 30px !important;
        
        &__title{
            margin-top: 30% !important;
            margin-right: 20% !important;
        }
    }

    .cart-checkout{
        margin-top: 0% !important;
        display: flex !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        align-content: stretch!important;
        justify-content: center !important;
        align-items: flex-start !important;
    }
    
    .total{
        width: 100% !important;

    }
    
    .product{
        width: 100% !important;
        padding-left: 5% !important;
        padding-bottom: 1% !important;
        display:flex !important;
        align-items: center !important;
    
        &__image {
            width:100% !important;
            height: 200px !important;
            object-fit: contain !important;
        }
    
        &__name{
            width: 100% !important;
            margin-left: 5% !important;
            font-family: 'SuisseBook' !important;
            font-size: 1.2em !important;
        
        }
    
        &__price{
            width: 100% !important;
            margin-top: 10% !important;
            margin-left: 10% !important;
            font-family: 'SuisseMono' !important;
            font-size: 0.90em !important;
        }
    
        &__delete{ 
            padding: 15% !important;
            
        }
    }
    
    .checkout{
        width: 90% !important;
        margin-left: 0% !important;
        border: none !important;

        &__title{
            margin-top: 5%;
        }
    
        &__submit{
            margin: 20px 15px 0 65px !important;
            &:hover{
                background-color: #e40000 !important;
            }
        }
    
        
    }    
}