@media all and (max-width: 1180px) {
  .CART {
    margin-left: 30px !important;
  }
  .CART__title {
    margin-top: 25% !important;
    margin-right: 20% !important;
  }
  .total {
    border-top: 2px solid #000000 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-top: 10% !important;
    padding-left: 55% !important;
    padding-top: 20px !important;
    padding-bottom: 50px !important;
    font-family: 'SuisseMono' !important;
  }
  .product {
    width: 100% !important;
    padding-left: 5% !important;
    padding-bottom: 1% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .product__image {
    width: 100% !important;
    height: 200px !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .product__name {
    width: 100% !important;
    margin-left: 5% !important;
    font-family: 'SuisseBook' !important;
    font-size: 1.2em !important;
  }
  .product__price {
    width: 100% !important;
    margin-top: 10% !important;
    margin-left: 10% !important;
    font-family: 'SuisseMono' !important;
    font-size: 0.90em !important;
  }
  .product__delete {
    padding: 15% !important;
  }
  .checkout {
    width: 60% !important;
    margin-left: 30% !important;
  }
  .checkout__title {
    margin-top: 15% !important;
  }
  .checkout__submit {
    margin: 20px 0 0 65px !important;
  }
  .checkout__submit:hover {
    background-color: #e40000 !important;
  }
}

@media all and (max-width: 414px) {
  .CART {
    margin-left: 30px !important;
  }
  .CART__title {
    margin-top: 30% !important;
    margin-right: 20% !important;
  }
  .cart-checkout {
    margin-top: 0% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .total {
    width: 100% !important;
  }
  .product {
    width: 100% !important;
    padding-left: 5% !important;
    padding-bottom: 1% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .product__image {
    width: 100% !important;
    height: 200px !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .product__name {
    width: 100% !important;
    margin-left: 5% !important;
    font-family: 'SuisseBook' !important;
    font-size: 1.2em !important;
  }
  .product__price {
    width: 100% !important;
    margin-top: 10% !important;
    margin-left: 10% !important;
    font-family: 'SuisseMono' !important;
    font-size: 0.90em !important;
  }
  .product__delete {
    padding: 15% !important;
  }
  .checkout {
    width: 90% !important;
    margin-left: 0% !important;
    border: none !important;
  }
  .checkout__title {
    margin-top: 5%;
  }
  .checkout__submit {
    margin: 20px 15px 0 65px !important;
  }
  .checkout__submit:hover {
    background-color: #e40000 !important;
  }
}
/*# sourceMappingURL=cart-mediaqueries.css.map */