@font-face {
    font-family: Suisse;
    src: url('../fonts/SuisseBook.ttf');

}

@font-face {
    font-family: SuisseMono;
    src: url('../fonts/SuisseMono.ttf');

}

@font-face {
    font-family: SuisseBook;
    src: url('../fonts/SuisseBook.ttf');

}

@font-face {
    font-family: Windsor;
    src: url('../fonts/Windsor-Bold.ttf');

}

$mainfont: 'Suisse';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.align_items_center{
    align-items: center;    
}

header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 70px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1;

    nav{
        justify-content: space-between;

        .logo{
            position: absolute;
            width:  20%;
            height: 45%;
            left: 40.5%;
        }

        .menu_icon{
            display: none;
        }

        .menu{
            &__item{
                font-family: $mainfont;
                font-size: 0.75em;
                margin: 0 5px;
                padding: 5px 5px;
                position: relative;

                a{
                    color:rgb(0, 0, 0);
                }

                &:hover{
                    border-bottom: 3px solid #000000;
                }
            }
        }
    }
}

