/*Tablet*/
@media all and (max-width:1180px) {

    .logo{
        position: absolute;
        width:  20%;
        height: 30%;
        left: 42.5%;
    }

    .menu__item {
        font-size: 7px;
        padding: 5px 5px;
    }

    /*initial banner*/
    .container{
        width: 100%;
    }

    .landind__pic{
        width: 50%;
        height: 50%;
        position:relative;
        left: 50%;
    }

    .quote{
        max-width: 50%;
        height: 15%; 
        margin-left: 6%;
    }
    .promo_text{
        font-size: 10px;
        margin-left: 3%;
    }
    .btn1{
        width: 15%;
        height: 48px;
        margin-left: 13%;
        font-size: 13px;
    }

    .news{
        height: 150px;
    }

    .box_news{
        width: 100%;
        height: 360px;
    }

    .box_news p{
        font-size: 14px;
    }

    .box_news a{

        color: rgb(0, 0, 0);
        font-size: 12px;
        width: 100%;
        height: 40px;
    }

    .product {
        padding: 10px;
        list-style-type: none;
    }

    .product p{
        width: 80%;
        margin-left: 25px;
        font-size: 12px;
    }

    .product h4 {
        margin-top: 15px;
        margin-left: 25px;
        font-size: 18px;
    }

    .product a{
        width: 50%;
        height: 48px;
        margin: 20px 0 30px 40px;
        font-size: 10px;
    }

    .products{
        max-width: 70%;
        margin: 20px 30px 25px 20px;
    }

    .article_promo_text {
        margin: 30px;
    }

    .article_promo_text h2{
        font-size: 40px;
        letter-spacing: 4px;
        width: 100%;
    }

    .article_promo_text p{
       font-size: 10px;
       width: 100%;
       margin-top: 0px;
    }
   
    .article__caract {
        width: 100%;
    }

    .banner__refer{
        margin-top: 50px;
    }

    .refer__pic{
        position: relative;
        width: 40%;
        height: 20%;
        margin-top: 20px;
        align-items: right;
    }

    .banner__refer__title{
        font-size: 18px;
    }
    
    .banner__refer__info h1{
        font-size: 30px;
    }
    
    .banner__refer__info p{
        font-size: 10px;
        width: 100%;
    }
    .banner__refer__info a{
        width: 60%;
        height: 40px;
        font-size: 10px;
    }

    .footer{
        display: block;
    }

    .footer__menu {
        padding: 0 5px 20px 5px;
    }
    
    .footer_menu_title{
        padding: 0 5px 20px 20px;
    }
    
    .footer__menu div{
        padding: 0 5px 20px 5px;
        column-count: 2;
        column-gap: 14px;
    }
    
    .footer__menu li {
        width: 40%;
        padding: 3px;
    }
    
    .footer__menu a{
        color: rgb(71, 71, 71);
    }

    .newsletter__container{
        justify-content: left;
        margin-left: 20px;
    }
}
