$font-color: #000000;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
}

.align_items_center{
    align-items: center;    
}

.product__info{
    margin-bottom: 500px;
}

.product{
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    align-items: center;

    &__mainImage {
        width:100%;
        height: 700px;
        object-fit: contain;
    }

    &__gallery {
        img {
            width: 100px;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    &__name{
        width: 100%;
        margin-left: 50%;
        font-family: 'SuisseBook';
        font-size: 1.50em;
        color: $font-color;
    }

    &__description{
        width: 100%;
        margin-top: 10%;
        margin-left: 50%;
        font-size: 1em;
        color: $font-color;
        font-family: 'Suisse';
    }

    &__howToUse{
        width: 100%;
        margin-top: 10%;
        margin-left: 50%;
        font-size: 1em;
        color: $font-color;
        font-family: 'Suisse';
        border-bottom: 2px solid #000000;
    }
    &__howTo{
        width: 100%;
        margin-top: 10%;
        margin-left: 50%;
        font-size: 1em;
        color: $font-color;
        font-family: 'Suisse';
    }

    &__price{
        width: 100%;
        margin-top: 10%;
        margin-left: 50%;
        font-family: 'SuisseBook';
        font-size: 1.25em;
        color: $font-color;
    }

    &__cart{
        width: 100%;
        padding: 10px;
        margin-top: 10%;
        margin-left: 50%;
        font-family: 'SuisseMono';
        color: rgb(255, 255, 255);
        font-size: 0.85em;
        background-color:#ff5f37;
        border: none;

        &:hover{
            background-color: #e40000;
        }
    }
}