@media all and (max-width: 1180px) {


.product{
    padding-left: 4%  !important;
    
    &__mainImage {
        height: 650px  !important;
    }


    &__name{
        margin-left: 30%  !important;
    }

    &__description{
        margin-left: 30%  !important;
    }

    &__howToUse{
        margin-left: 30%  !important;
    }
    &__howTo{
        margin-left: 30%  !important;
    }

    &__price{
        margin-left: 30%  !important;
    }

    &__cart{
        width: 100%  !important;
        padding: 10px  !important;
        margin-top: 10%  !important;
        margin-left: 30%  !important;
        font-family: 'SuisseMono'  !important;
        color: rgb(255, 255, 255)  !important;
        font-size: 0.85em  !important;
        background-color:#ff5f37  !important;
        border: none  !important;

        &:hover{
            background-color: #e40000  !important;
        }
    }
}
}

@media all and (max-width:414px) {
    .product__info{
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 30px  !important;
    }
    
    .product{
        align-items: baseline !important;
        display: flex !important;
        padding-top: 0%;
        padding-left: 4% !important;
        flex-direction: column !important;

        &__mainImage {
            margin-top: 10% !important;
            margin-bottom: 5% !important;
            height: 480px  !important;
            
        }

        &__gallery {
            img {
                width: 60px !important;
                margin-bottom: 10px !important;
                cursor: pointer !important;
            }
        }
    
        &__name{
            margin-left: 0%  !important;
        }
    
        &__description{
            margin-top: 5%  !important;
            margin-left: 0%  !important;
        }
    
        &__howToUse{
            display: none  !important;
            }

        &__howTo{
            display: none  !important;
            }
    
        &__price{
            width: 100%  !important;
            margin-top: 5%  !important;
            margin-left: 0% !important;
            
        }
    
        &__cart{
            margin-top: 5%  !important;
            margin-left: 0%  !important;
          
        }
    }
}