@media all and (max-width: 1180px) {
 
}

@media all and (max-width: 414px) {

    .title {
        position: relative !important;
        align-items: center !important;
        font-family: SuisseBook !important;
        font-style: normal !important;
        font-size: 1.6em !important;
        color: #000000 !important;
    }

}