@font-face {
    font-family: Suisse;
    src: url('../fonts/SuisseBook.ttf');

}

@font-face {
    font-family: SuisseMono;
    src: url('../fonts/SuisseMono.ttf');

}

@font-face {
    font-family: SuisseBook;
    src: url('../fonts/SuisseBook.ttf');

}

@font-face {
    font-family: Windsor;
    src: url('../fonts/Windsor-Bold.ttf');

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.align_items_center{
    align-items: center;    
}

header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 70px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.nav{
    justify-content: space-between;
}

.logo{
    position: absolute;
    width:  20%;
    height: 45%;
    left: 40.5%;
}

.menu_icon{
    display: none;
}

.menu__item {
    font-family: 'Suisse' ;
    font-size: 0.75em;
    margin: 0 5px;
    padding: 5px 5px;
    position: relative;
}

.menu__item a{
    color:rgb(0, 0, 0);
}

.menu__item:hover{
    background-color: rgb(160, 196, 172);
    border-radius: 20px;
}

.titles{
    font-family: 'Windsor';
    position: relative;
    color: black;
    font-size: 3.4375em;
    margin-left: 30px;
}

#category {
    font-family:  SuisseBook;
    font-size: 0.95em;
    line-height: 21px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 10%;
    height: 3%;
    margin-top: 25px;
    margin-bottom: 17px;
    padding: 5px;
    border-radius: 5px;

}
//HACER EL MIXIN
#order{

    font-family:  SuisseBook;
    font-size: 0.95em;
    line-height: 21px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 10%;
    height: 3%;
    margin-top: 25px;
    margin-bottom: 17px;
    padding: 5px;
    border-radius: 5px;
}

.products{
    max-width: 100%;
    padding: 50px;
    align-items: center;
    justify-content: center;  
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 10px;
}


.product p{
    width: 80%;
    margin-left: 45px;
    font-size: 1em;
    font-family: 'Suisse';
}

.product h4{
    margin-top: 15px;
    margin-left: 45px;
    font-family: 'SuisseMono';
    font-size: 1.25em;
}

.product a{

    width: 20%;
    padding: 15px;
    font-family: 'SuisseMono';
    color: rgb(255, 255, 255);
    font-size: 1em;
    background-color:#ff5f37;
    border: none;
    margin: 50px 0 0 55px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.product a:hover{
    background-color: #e40000;
}

.products{
    max-width: 100%;
    max-height: 60%;
    margin:0 45px 25px 45px;
}

/*.skincare-products{
    position: fixed;
    width: 100%;
    height: 100%;
}*/

.products_preview{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:  rgba(46, 46, 46, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.product_preview .preview {
    position: relative;
    display: none;
    padding: 20px;
    text-align: center;
    background: rgb(255, 255, 255);
}

.product_preview .preview.active {
    display: inline-block;
}

.product_preview .preview img {
    height: 50%;
}

.product_preview .preview p {
    width: 80%;
    margin-left: 45px;
    font-size: 1em;
    font-family: 'Suisse';
}

.product_preview .preview h4 {
    font-family: 'SuisseMono';
    font-size: 1.25em;
}

.product_preview .preview a {
    font-size: 1em;
    font-family: 'Suisse';
    color: rgb(255, 255, 255);
    background-color:#ff5f37;
    width: 60%;
    padding: 15px;
    border: none;
    margin: 20px 0 0 55px;
    display: flex;
    justify-content: center;
}
