@media all and (max-width: 1180px) {
  .title {
    font-family: "Windsor" !important;
    position: relative !important;
    color: #000000 !important !important;
    font-size: 1.3em !important;
    top: 6px !important;
    margin-left: 30px !important;
  }
  .filters {
    margin-left: 5% !important;
  }
  #category {
    width: 20% !important;
    margin: 12% 2% 1% 0% !important;
  }
  #order {
    width: 20% !important;
    margin: 12% 2% 1% 0% !important;
  }
  .products {
    -ms-grid-columns: (5fr)[2] !important;
        grid-template-columns: repeat(2, 5fr) !important;
  }
  .product {
    margin: 9px;
  }
  .product__image {
    width: 100% !important;
    height: 350px !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .product__name {
    margin-left: 8% !important;
    margin-top: 2% !important;
    font-family: "SuisseBook" !important;
    font-size: 1.25em !important;
    color: #000000 !important !important;
  }
  .product__category {
    display: none !important;
  }
  .product__price {
    margin-left: 8% !important;
    margin-top: 2% !important;
    font-family: "SuisseBook" !important;
    font-size: 1.25em !important;
    color: #000000 !important !important;
  }
  .product__cart {
    width: 55% !important;
    height: 20% !important;
    padding: 10px !important;
    font-family: "SuisseMono" !important;
    color: white !important;
    font-size: 0.85em !important;
    background-color: #ff5f37 !important;
    border: none !important;
    margin: 20px 0 0 55px !important;
  }
  .product__cart:hover {
    background-color: #e40000 !important;
  }
  .product__cart:disabled {
    background-color: #720000 !important;
  }
}

@media all and (max-width: 414px) {
  .title {
    font-family: "Windsor" !important;
    font-size: 1.5em !important;
    margin-left: 30px !important;
  }
  .filters {
    margin-left: 5% !important;
  }
  #category {
    width: 20% !important;
    margin-top: 30% !important;
    margin-bottom: 0% !important;
    padding: 0% !important;
  }
  #order {
    width: 20% !important;
    margin-top: 30% !important;
    margin-bottom: 0% !important;
    padding: 0% !important;
  }
  .products {
    -ms-grid-columns: (5fr)[2] !important;
        grid-template-columns: repeat(2, 5fr) !important;
  }
  .product {
    padding: 0px 0px 0px 0px !important;
  }
  .product__image {
    width: 100% !important;
    height: 450px !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .product__name {
    margin-left: 8% !important;
    margin-top: 2% !important;
    font-family: "SuisseBook" !important;
    font-size: 1.25em !important;
    color: #000000 !important !important;
  }
  .product__category {
    display: none !important;
  }
  .product__price {
    margin-left: 8% !important;
    margin-top: 2% !important;
    font-family: "SuisseBook" !important;
    font-size: 1.25em !important;
    color: #000000 !important !important;
  }
  .product__cart {
    width: 100% !important;
    height: 20% !important;
    padding: 10px !important;
    font-family: "SuisseMono" !important;
    color: white !important;
    font-size: 0.85em !important;
    background-color: #ff5f37 !important;
    border: none !important;
    margin: 20px 0 0 5px !important;
  }
  .product__cart:hover {
    background-color: #e40000 !important;
  }
  .product__cart:disabled {
    background-color: #720000 !important;
  }
}
/*# sourceMappingURL=skincare-mediaqueries.css.map */