@font-face {
    font-family: Suisse;
    src: url('../fonts/SuisseBook.ttf');

}

@font-face {
    font-family: SuisseMono;
    src: url('../fonts/SuisseMono.ttf');

}

@font-face {
    font-family: SuisseBook;
    src: url('../fonts/SuisseBook.ttf');

}

@font-face {
    font-family: Windsor;
    src: url('../fonts/Windsor-Bold.ttf');

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.align_items_center{
    align-items: center;    
}

header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 70px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.nav{
    justify-content: space-between;
}

.logo{
position: absolute;
width: 208px;
height: 24px;
left: 42.5%;
}

.menu__item {
    font-family: 'Suisse' ;
    font-size: 12px;
    margin: 0 5px;
    padding: 5px 5px;
    position: relative;
}

.menu__item a{
    color:rgb(0, 0, 0);
}

.menu__item:hover{
    background-color: rgb(160, 196, 172);
    border-radius: 20px;
}

.container{
    position: relative;
}

.landind__pic{
    width: 100%;
    height: 799px;
}

.landing__descrip {
   transform: translateY(-50%);
   position: absolute;
   top: 50%;
   left: 5%;
   flex-direction: column;
    align-items: center;
}

.quote{
    width: 443px;
    height: 190px;    
}

.promo_text{
    width: 475px;
    margin: 20px 0;
    font-family: 'SuisseMono';
    color: blue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn1{
    width: 314px;
    height: 88px;
    background: #FFFAE9;
    border: 2px solid #1DD000;
    box-sizing: border-box;
    text-align: center;
    font-family: 'SuisseMono';
    color: blue;
    font-size: 16px;
}

.news__container{
    display:flex;
    align-items: center;
    flex-direction:row;
    padding: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.info {
    width: 100%;
    justify-content: space-between;
}

.info li {
    width: 30%;
}

.news{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom: 3px solid #000000;
    width: 100%;
    height: 260px;
    box-sizing: border-box;
}

.box_news{
    width: 100%;
    height: 500px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

.box_news div{
    text-align:left;
    padding: 8px;
    margin: 5px 20px;

}

.box_news h2{
    font-family: 'SuisseMono';
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    background-color: black;
    width: fit-content;
}

.box_news p{
    font-family: 'Suisse';
    font-size: 18px;
    text-align:left;
    margin: 10px 0px 10px 0;
}

.box_news a{
    margin: 40px 0px 10px 0;
    border: 3px solid #000000;
    text-align: center;
    font-family: 'SuisseMono';
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 100%;
    height: 50px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitles{
    font-family: 'Windsor';
    font-size: 55px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.t__description{
    font-family: 'SuisseMono';
    margin-left: 60px;
    margin-bottom: 5px;
}

.product{
    max-width: 100%;
    padding: 45px;
    list-style-type: none;
}

.product h2, .product p{
    padding: 0;
    margin-left: 45px;
    font-family: 'Suisse';
}

.product h4{
    padding: 0;
    margin-top: 15px;
    margin-left: 45px;
    font-family: 'SuisseMono';
    font-size: 20px;
}

.product a{
    width: 60%;
    height: 68px;
    margin: 50px 0 0 55px;
    font-family: 'SuisseMono';
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color:#ff5f37;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products{
    max-width: 100%;
    margin:0 45px 25px 45px;
}

.banner{
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 445px;
}

.banner__refer{
    position: relative;
    background-color: black;
    padding: 50px;
   
}

.banner__refer__info{
    text-align:left;
    padding: 8px;
    margin: 5px 20px;
}

.banner__refer__title{
    font-family: 'SuisseMono';
    color: white;
    font-size: 25px;
    width: fit-content;
    background-color: rgb(190, 255, 70);
    box-sizing: border-box;
}

.banner__refer__info h1{
    font-family: 'Windsor';
    color: white;
    margin-top: 20px;
}

.banner__refer__info p{
    font-family: 'SuisseMono';
    color: white;
    margin-top: 20px;
    height: 10px;
}

.banner__refer__info a{
    width: 20%;
    height: 50px;
    color: black;
    background: white;
    border: none;
    box-sizing: border-box;
    text-align: center;
    font-family: 'SuisseMono';
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}